<h1 class="display-4 text-center">Sign up</h1>
<br/><hr><br/>
<div class="container" style="align-items:center;">
  <div class="text-center" style="margin-left:30%; margin-right:30%;">
    <%= form_tag url_for(action: 'create'), method: "post" do %><br/>
      <%= text_field_tag 'first_name' ,"", class:"form-control", placeholder:"Prénom" %><br/>
      <%= text_area_tag 'last_name' ,"", class:"form-control", placeholder:"Nom" %><br/>
      <%= text_area_tag 'email' ,"", class:"form-control", placeholder:"Email" %><br/>
      <%= password_field_tag 'pw' ,"", class:"form-control", placeholder:"Mot de passe" %><br/>
      <%= select_tag 'city', options_for_select(City.all.pluck('name')), class:"form-control" %><br/>
      <%= submit_tag 'Envoyer', class:"btn btn-secondary" %>
    <% end %>
  </div>
  <br/>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>