<h1 class="display-4 text-center">Modifie un potin!</h1>

<hr><br/>

<div class="container text-center" style="align-items:center;">
  <div class="text-center" style="margin-left:30%; margin-right:30%;">
    <%= form_tag url_for(action: 'update'), method: 'patch' do %>
      <%= text_field_tag 'title' ,"", class:"form-control", placeholder:@gossip.title %><br/>
      <%= text_area_tag 'content' ,"", class:"form-control", placeholder:@gossip.content %><br/>
      <%= submit_tag "Envoyer", class:"btn btn-secondary" %>
    <% end %>
  </div>
  <br/>
  <% if @gossip.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>