<section class="jumbotron text-center">
  <div class="container">
    <h1 class="display-3">Bienvenue,</h1>
    <p class="lead text-muted">laisse éclater la comère qui sommeille en toi!</p><br/><br/>
    <p><%= link_to 'Balance ton potin ici', new_gossip_path %></p>
  </div>
</section>

<br/>
<div class="card-columns" style="margin-left:7%; margin-right:7%;">
  <% Gossip.all.each do |gossip| %>
    <div class="card bg-light p-3">
      <div class="blockquote mb-0 card-body">
        <p>
          <%= link_to gossip.title, gossip_path(gossip.id) %><br/>
          <small>écrit par <%= gossip.user.first_name %></small><br/><br/>
          <small class="text-muted text-center"><%= Comment.count(gossip.id) %> commentaires | <%= gossip.likes.count %> likes</small>
        </p><hr>
        <div class="row">
          <%= button_to 'Like', gossip_likes_path(gossip.id), method: :post, class:"btn btn-secondary" %>
          <% if current_user && current_user.id == gossip.user.id %>
            <%= button_to 'Modifier', edit_gossip_path(gossip.id), method: :get, class:"btn btn-secondary" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>