<h1 class="display-4 text-center">Balance ton potin!</h1>
<hr><br/>
<div class="container" style="align-items:center;">
  <div class="text-center">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
      <%= label_tag 'Title' %>
      <%= text_field_tag 'title' %>
      <br/>
      <%= label_tag 'Content' %>
      <%= text_area_tag 'content' %>
      <br />
      <%= select_tag 'tag', options_for_select(Tag.all.pluck('title')) %>
      <%= submit_tag 'Envoyer' %>
    <% end %>
  </div>
  <br/>
  <% if @gossip.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
      <ul>
        <% @gossip.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>