<div class="text-center">
  <h1 class="display-4">Gossip n°<%= @gossip.id %></h1><br/>
  <h3><< <%= @gossip.content %> >></h3>
  <small>
    <% JoinTableGossipTag.retrieve_tags(@gossip.id).each do |tag| %>
      <%= tag %>&nbsp;
    <% end %>
  </small>
  <br/><hr><br/>
  <ul>
    <li>Titre : <%= @gossip.title %></li>
    <li>Auteur : <%= link_to @gossip.user.first_name, author_path(@gossip.user.id) %></li>
    <li>Ville : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city_id) %></li>
    <li>Date de création : <%= @gossip.created_at %></li>
  </ul><br/>
  <p>
    <%= link_to 'Modifier', edit_gossip_path %><%= button_to "Supprimer", @gossip, :method => :delete %>
  </p>
  <br/><hr><br/>
  <p>Commentaires</p>
  <p>
    <% Comment.all.each do |comment| %>
        <% if comment.gossip_id == @gossip.id %>
          <%= comment.content %>&nbsp;[<%= link_to 'modifier', edit_comment_path(comment.id) %>]</br>
        <% end %>
    <% end %>   
  </p>
  <%= form_tag url_for(controller: 'comments', action: 'create', ), method: 'post' do %>
    <%= label_tag '' %>
    <%= text_field_tag 'comment' %>
    <%= hidden_field_tag :id, @gossip.id %>
    <%= submit_tag "Envoyer" %>
  <% end %>
  <br/>
</div>