<div class="text-center">
  <h1 class="display-4">Gossip n°<%= @gossip.id %></h1><br/>
  <h3><< <%= @gossip.content %> >></h3>
  <br/><hr><br/>
  <ul>
    <li>Titre : <%= @gossip.title %></li>
    <li>Auteur : <%= link_to @gossip.user.first_name, author_path(@gossip.user.id) %></li>
    <li>Ville : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city_id) %></li>
    <li>Date de création : <%= @gossip.created_at %></li>
  </ul><br/>
  <p>
    <%= link_to 'Modifier', edit_gossip_path %><br/>
    <%= button_to "Supprimer", @gossip, :method => :delete %>
  </p>
  

</div>